/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

:root {
  --primary-1: #cdd2d7
}

.filter {
  padding: 30px 15px;
  background-color: var(--primary-1);
}

.filter__btn {
  cursor: pointer;
}

@media (max-width: 1023px) {
  .filter {
    text-align: center;
  }

  .filter__group + .filter__group {
    margin-top: 15px;
  }

  .filter__btn {
    width: 100%;
    margin-top: 30px;
  }
}

@media (min-width: 1024px) {
  .filter {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
  }

  .filter__group {
    width: calc(1 / 4 * 100% - (1 - 1 / 4) * 30px);
  }
}