/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.input,
.select {
  width: 100%;
  padding: 8px 5px;
}

.gallery-thumbs {
  margin-top: 15px;
  margin-bottom: 15px;
}

.gallery-thumbs img + img {
  margin-left: 15px;
}